
# express server Configuration
PORT=
NODE_ENV=

# mongodb Configuration
MONGODB_URI=

# redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=
CACHE_TTL=

# JWT Configuration
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=


# BullMQ (API produces jobs; worker-service consumes them)
BULLMQ_QUEUE=todo